div#recaptcha-container{

/* right: 7% !important; */
    /* z-index: 2 ; */
    /* position: absolute; */
    /* top: 10%; */
    /* overflow: scroll; */
    margin: auto;

}

.css-view-g5y9jx.r-backgroundColor-124pnr2.r-flex-13awgt0{
    position: relative;
}